body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#rep-marsha {
    max-width: 550px;
    max-height: 350px;
    border-radius: 3rem;
    margin-right: 100px;
}

.rep {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 50px 200px;
    border: 1px solid red;
}

/* .rep-legislation,
.rep-comittees {
  } */
    .rep-card {
    text-align: left;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: -5px 12px 2px 1px rgba(0, 0, 255, 0.2);
    padding: 15px;
    margin-bottom: 20px;
}
